
    $primary-text-color: #2E2520;
    $bg-button-color: #AB816C;
    $title-button-color: #FFFFFF;
    $social-icon-color: #2E2520;
    $background-color: #E5E5E5;
    $program-icon-color: #674D40;
    $program-text-color: #000000;
    $program-circle-color: #FEF3E4;
    $carousel-color: #AB816C;
    $placeholder-color: rgba(171, 129, 108, 0.5);
    $input-border-color: #AB816C;
    $accent-bg-btn-color:  #FFFFFF;
    $accent-title-btn-color:  #AB816C;
    $registration-bg-color: #FFFFF9;
    $registration-border-color: #FEF3E4;
    $accent-color: #E5E5E5;
    $menu-bg-color: rgba(254, 243, 228, 0.9);
    $nav-menu-link: #876655;
    
