<section class="reviews-section" id="reviews">
    <div class="container">
    <h2 class="reviews-section__title section-title">Reviews</h2>
        <ul class="reviews-section__list slider">
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-2">
                            </use>
                        </svg></li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">British chef Heston Blumenthal is a bit gloomy in appearance, but extremely talented, as evidenced by his worldwide fame. 
                        He owns The Fat Duck, one of four UK establishments to have been awarded three Michelin stars. 
                        In the show, he fulfills the dreams of many housewives - showing how to cook complex dishes in a regular kitchen.
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg" alt="Elisabeth's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">This chef can be called a culinary legend. Today we can enjoy the wonderful film 'Julie and Julia: 
                        Cooking a Recipe for Happiness', which is based on Julia's story and inspires millions of chefs.
                        Julia Child began her culinary career at 34 and has achieved the success that the whole world speaks of. 
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-2">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">British chef Heston Blumenthal is a bit gloomy in appearance, but extremely talented, as evidenced by his worldwide fame. 
                                                    He owns The Fat Duck, one of four UK establishments to have been awarded three Michelin stars. 
                                                    In the show, he fulfills the dreams of many housewives - showing how to cook complex dishes in a regular kitchen.
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg"
                        alt="Elisabeth's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everyThis chef can be called a culinary legend. Today we can enjoy the wonderful film 'Julie and Julia: 
                        Cooking a Recipe for Happiness', which is based on Julia's story and inspires millions of chefs.
                        Julia Child began her culinary career at 34 and has achieved the success that the whole world speaks of.
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-2">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg"
                        alt="Elisabeth's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-2">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg"
                        alt="Elisabeth's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-2">
                            </use>
                        </svg></li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                <li class="reviews-section__item slider__item">
                    <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg" alt="Elisabeth's photo">
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </li>
                
        </ul>
    </div>
</section>