<footer id="contacts">
  <div class="container footer__container">
    <div class="footer__contact">
      <h2 class="contact__title">Contact</h2>
      <p class="contact__text">We will answer any question!</p>
      <form class="footer__form" autocomplete="on">
        <div class="footer__form-field">
          <label>
            <input
              class="footer-form__input"
              type="email"
              name="mail"
              id="mail"
              placeholder="Email"
            />
            <input
              class="footer-form__input"
              type="comment"
              name="comment"
              id="comment"
              placeholder="Type your question"
            />
          </label>
        </div>
      </form>
    </div>

    <button class="form__button button footer-button link-animation" type="submit">Send</button>
    <ul class="footer__social">
      <li class="footer__item">
        <a
          href="arial-label"
          class="footer-icons__link link-animation"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer__icon-twitter" width="24" heigth="19">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          href="arial-label"
          class="footer-icons__link link-animation"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer__icon-instagram" width="19" heigth="19">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__item">
        <a
          href="arial-label"
          class="footer-icons__link link-animation"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer__icon-facebook" width="10" heigth="19">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div>
      <ul class="footer-nav">
        <li class="footer__link">
          <a href="tel:9102228855" class="footer__tel link-animation">
            <svg class="icon-tel link-animation" width="13" height="13">
              <use href="./images/sprite.svg#icon-Group"></use>
            </svg>
            (910)222-8855</a
          >
        </li>
        <li class="footer__link">
          <a
            href="https://goo.gl/maps/WhZ3jbcanFxCnqYP8"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__location link-animation"
          >
            <svg class="icon-location link-animation" width="11" height="14">
              <use href="./images/sprite.svg#icon-location"></use>
            </svg>
            New York
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
