<section>
    <div class="hero container">
            <h1 class="hero__title animate__animated animate__zoomIn" >Donut Masterclass <br>with the Donut King</h1>
        <p class="hero__note">Hosted by Eva Green</p>
        <a href="#btn-registr"><button type="submit" class="button">Register</button></a>
        
        <div class="social-icons">
            <ul class="social-icons__list">
                <li class="social-icons__item">
                    <a  href="https://www.instagram.com/?hl=ru" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                        <svg class="social-icons__twitter">
                            <use href="./images/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-icons__item">
                    <a href="https://www.instagram.com/?hl=ru" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                        <svg class="social-icons__instagram">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-icons__item">
                    <a href="https://www.instagram.com/?hl=ru" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                        <svg class="social-icons__facebook">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            
            </ul>
        </div>
    </div>
</section>