<section class=" container reviews-section" id="reviews">
    <h2 class="reviews-section__title section-title">Reviews</h2>
        <ul class="reviews-section__list slider">
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source srcset="./images/rewiews/desktop/john@1x-desktop.jpg 1x, ./images/rewiews/desktop/john@2x-desktop.jpg 2x"
                            media="(min-width: 1200px)">
                        <source srcset="./images/rewiews/tablet/john@1x-tablet.jpg 1x, ./images/rewiews/tablet/john@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/john@1x-mobile.jpg 1x, ./images/rewiews/mobile/john@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo" width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-5">
                            </use>
                        </svg></li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                            <use class="" href="./images/sprite.svg#icon-Star-2">
                            </use>
                        </svg></li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">We wanted to thank you and Tita for a wonderful cooking class. 
                        The experience was the highlight of our trip. 
                        We’ve made the cheese baskets several times already. 
                    The other recipes are next in line. 
                    We’ll definitely tell others about your class and the true story of bruschetta.
                    We included some pictures of our class. Thank you! 
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source srcset="./images/rewiews/desktop/will@1x-desktop.jpg 1x, ./images/rewiews/desktop/will@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/will@1x-tablet.jpg 1x, ./images/rewiews/tablet/will@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/will@1x-mobile.jpg 1x, ./images/rewiews/mobile/will@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish 
                    even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next 
                    one and highly recommend it to everyone!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source srcset="./images/rewiews/desktop/elizabeth@1x-desktop.jpg 1x, ./images/rewiews/desktop/elizabeth@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/elizabeth@1x-tablet.jpg 1x, ./images/rewiews/tablet/elizabeth@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/elizabeth@1x-mobile.jpg 1x, ./images/rewiews/mobile/elizabeth@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg" alt="Elisabeth's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">British chef Heston Blumenthal is a bit gloomy in appearance,
                    but extremely talented, as evidenced by his worldwide fame.
                    He owns The Fat Duck, one of four UK establishments to have been awarded three Michelin stars.
                    In the show, he fulfills the dreams of many housewives - showing how to cook complex dishes in a regular kitchen.
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/john@1x-desktop.jpg 1x, ./images/rewiews/desktop/john@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/john@1x-tablet.jpg 1x, ./images/rewiews/tablet/john@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/john@1x-mobile.jpg 1x, ./images/rewiews/mobile/john@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-2">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">We wanted to thank you and Tita for a wonderful cooking class.
                        The experience was the highlight of our trip.
                        We’ve made the cheese baskets several times already.
                        The other recipes are next in line.
                        We’ll definitely tell others about your class and the true story of bruschetta.
                        We included some pictures of our class. Thank you!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/will@1x-desktop.jpg 1x, ./images/rewiews/desktop/will@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/will@1x-tablet.jpg 1x, ./images/rewiews/tablet/will@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/will@1x-mobile.jpg 1x, ./images/rewiews/mobile/will@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next
                    one and highly recommend it to everyone!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/elizabeth@1x-desktop.jpg 1x, ./images/rewiews/desktop/elizabeth@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./images/rewiews/tablet/elizabeth@1x-tablet.jpg 1x, ./images/rewiews/tablet/elizabeth@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/rewiews/mobile/elizabeth@1x-mobile.jpg 1x, ./images/rewiews/mobile/elizabeth@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg"
                            alt="Elisabeth's photo" width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">British chef Heston Blumenthal is a bit gloomy in appearance,
                    but extremely talented, as evidenced by his worldwide fame.
                    He owns The Fat Duck, one of four UK establishments to have been awarded three Michelin stars.
                    In the show, he fulfills the dreams of many housewives - showing how to cook complex dishes in a regular kitchen.
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/john@1x-desktop.jpg 1x, ./images/rewiews/desktop/john@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/john@1x-tablet.jpg 1x, ./images/rewiews/tablet/john@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/john@1x-mobile.jpg 1x, ./images/rewiews/mobile/john@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-2">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">We wanted to thank you and Tita for a wonderful cooking class.
                        The experience was the highlight of our trip.
                        We’ve made the cheese baskets several times already.
                        The other recipes are next in line.
                        We’ll definitely tell others about your class and the true story of bruschetta.
                        We included some pictures of our class. Thank you!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/will@1x-desktop.jpg 1x, ./images/rewiews/desktop/will@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/will@1x-tablet.jpg 1x, ./images/rewiews/tablet/will@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/will@1x-mobile.jpg 1x, ./images/rewiews/mobile/will@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next
                    one and highly recommend it to everyone!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/elizabeth@1x-desktop.jpg 1x, ./images/rewiews/desktop/elizabeth@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./images/rewiews/tablet/elizabeth@1x-tablet.jpg 1x, ./images/rewiews/tablet/elizabeth@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/rewiews/mobile/elizabeth@1x-mobile.jpg 1x, ./images/rewiews/mobile/elizabeth@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg"
                            alt="Elisabeth's photo" width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">British chef Heston Blumenthal is a bit gloomy in appearance,
                    but extremely talented, as evidenced by his worldwide fame.
                    He owns The Fat Duck, one of four UK establishments to have been awarded three Michelin stars.
                    In the show, he fulfills the dreams of many housewives - showing how to cook complex dishes in a regular kitchen.
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/john@1x-desktop.jpg 1x, ./images/rewiews/desktop/john@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/john@1x-tablet.jpg 1x, ./images/rewiews/tablet/john@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/john@1x-mobile.jpg 1x, ./images/rewiews/mobile/john@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-2">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">We wanted to thank you and Tita for a wonderful cooking class.
                        The experience was the highlight of our trip.
                        We’ve made the cheese baskets several times already.
                        The other recipes are next in line.
                        We’ll definitely tell others about your class and the true story of bruschetta.
                        We included some pictures of our class. Thank you!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/will@1x-desktop.jpg 1x, ./images/rewiews/desktop/will@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/will@1x-tablet.jpg 1x, ./images/rewiews/tablet/will@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/will@1x-mobile.jpg 1x, ./images/rewiews/mobile/will@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next
                    one and highly recommend it to everyone!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/elizabeth@1x-desktop.jpg 1x, ./images/rewiews/desktop/elizabeth@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./images/rewiews/tablet/elizabeth@1x-tablet.jpg 1x, ./images/rewiews/tablet/elizabeth@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/rewiews/mobile/elizabeth@1x-mobile.jpg 1x, ./images/rewiews/mobile/elizabeth@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg"
                            alt="Elisabeth's photo" width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">British chef Heston Blumenthal is a bit gloomy in appearance,
                    but extremely talented, as evidenced by his worldwide fame.
                    He owns The Fat Duck, one of four UK establishments to have been awarded three Michelin stars.
                    In the show, he fulfills the dreams of many housewives - showing how to cook complex dishes in a regular kitchen.
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/john@1x-desktop.jpg 1x, ./images/rewiews/desktop/john@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/john@1x-tablet.jpg 1x, ./images/rewiews/tablet/john@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/john@1x-mobile.jpg 1x, ./images/rewiews/mobile/john@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/john@1x-mobile.jpg" alt="John's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item--border-color">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-2">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">John</span>
                    <p class="reviews-section__text">We wanted to thank you and Tita for a wonderful cooking class.
                        The experience was the highlight of our trip.
                        We’ve made the cheese baskets several times already.
                        The other recipes are next in line.
                        We’ll definitely tell others about your class and the true story of bruschetta.
                        We included some pictures of our class. Thank you!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/will@1x-desktop.jpg 1x, ./images/rewiews/desktop/will@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/rewiews/tablet/will@1x-tablet.jpg 1x, ./images/rewiews/tablet/will@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/rewiews/mobile/will@1x-mobile.jpg 1x, ./images/rewiews/mobile/will@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/will@1x-mobile.jpg" alt="Will's photo"
                            width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Will</span>
                    <p class="reviews-section__text">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish
                    even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next
                    one and highly recommend it to everyone!
                    </p>
                </li>
                <li class="reviews-section__item slider__item">
                    <picture>
                        <source
                            srcset="./images/rewiews/desktop/elizabeth@1x-desktop.jpg 1x, ./images/rewiews/desktop/elizabeth@2x-desktop.jpg 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./images/rewiews/tablet/elizabeth@1x-tablet.jpg 1x, ./images/rewiews/tablet/elizabeth@2x-tablet.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/rewiews/mobile/elizabeth@1x-mobile.jpg 1x, ./images/rewiews/mobile/elizabeth@2x-mobile.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="reviews-section__user-photo" src="./images/rewiews/mobile/elizabeth@1x-mobile.jpg"
                            alt="Elisabeth's photo" width="234" />
                    </picture>
                    <ul class="rate-list">
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                        <li class="rate-list__item">
                            <svg class="" width="24" height="24" aria-label="stars">
                                <use class="" href="./images/sprite.svg#icon-Star-5">
                                </use>
                            </svg>
                        </li>
                    </ul>
                    <span class="reviews-section__user-name">Elisabeth</span>
                    <p class="reviews-section__text">British chef Heston Blumenthal is a bit gloomy in appearance, 
                        but extremely talented, as evidenced by his worldwide fame.
                        He owns The Fat Duck, one of four UK establishments to have been awarded three Michelin stars.
                        In the show, he fulfills the dreams of many housewives - showing how to cook complex dishes in a regular kitchen.
                    </p>
                </li>
        </ul>
        </div>
</section>