<section class="about" id="about-us">
    <div class="about-section container">
        <div class="about-us">
            <h2 class="about-us__title">About us</h2>
            <p class="about-us__article">Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated donuts which will save the
            world!</p>
            <p class="about-us__article">Eva has been baking since she was six years old and over the last 49 years, she has created hundreds of cakes for
            weddings and has baked for many celebrities. Eva and our shop have received multiple awards & recognition for
            excellence.</p>
            <p class="about-us__article readmore">We are going to teach you how to cook with passion and
            sparkles in your eyes! We love what we do and believe
            you will enjoy our cooking atmosphere!</p>
            <p class="about-us__article " id="textarea" style="display: none"> We are going to teach you how to cook with passion and
                sparkles in your eyes! We love what we do and believe
                you will enjoy our cooking atmosphere!
            </p>
            <a class="btn-read" id="seeMore" onclick="toggleSeeMore()" href="javascript:void(0);">Read more</a>
            <script type="text/javascript">
                function toggleSeeMore() {
                    if (document.getElementById("textarea").style.display == 'none') {
                        document.getElementById("textarea").style.display = 'block';
                        document.getElementById("seeMore").innerHTML = 'less';
                    }
                    else {
                        document.getElementById("textarea").style.display = 'none';
                        document.getElementById("seeMore").innerHTML = 'Read more';
                    }
                }</script>
            <!-- <p class="about-us__article"> <span id="more"> We are going to teach you how to cook with passion and sparkles in your eyes! We love what we do and believe
            you will enjoy our cooking atmosphere!</span>
            </p>
            <button class="btn-read" type="button" id="read" onclick="read()">Read more</button>
            <script type="text/javascript">
            var i=0;
            function read(){
                if(!i){
                    document.getElementById("more").style.
                        display = "inline";
                    
                    document.getElementById("read").innerHTML="less"
                      i=1;
                }
                else{
                    document.getElementById("more").style.
                        display = "none";
                    
                    document.getElementById("read").innerHTML = "Read more"
                    i=0;
                }

            }
            </script> -->
        </div>
    </div>
</section>