<div class="container">
    <button class="form__button button footer-button" type="submit">Send</button>
    <ul class="footer__social">
        <li class="footer__item" >
            <a href="arial-label">
                <svg class="footer__icon" width="19" heigth="15">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
            </a></li>
        <li class="footer__item" >
            <a href="arial-label">
                <svg class="footer__icon" width="15" heigth="15">
                    <use href="./images/sprite.svg#icon-instagram" ></use>
                </svg>
            </a></li>
        <li class="footer__item">
            <a href="arial-label">
                <svg class="footer__icon" width="8" heigth="15">
                    <use href="./images/sprite.svg#icon-facebook" ></use>
                </svg>
            </a>
        </li>
    </ul>
    <div>
    <ul>
        <li>
            <svg width="13" height="13">
                <use href="./images/sprite.svg#icon-Group" ></use>
            </svg>
            <a href="tel:9102228855">(910)222-8855</a>
        </li>
        <li>
            <svg width="11" height="14">
                <use href="./images/sprite.svg#icon-location"></use>
            </svg>
            <a href="https://goo.gl/maps/WhZ3jbcanFxCnqYP8">
                New York
            </a>
        </li>
    </ul>
    </div>
</div>