<header>
    <div class="container">
        <div class="general">

            <nav class="header__nav">
                <a href="./index.html" class="header__link--logo">
                    <svg class="header__logo" aria-label="logo">
                        <use class="header__logo--icon" href="./images/sprite.svg#icon-logo">
                        </use>
                    </svg>
                </a>
                <ul class="header__list header__list--menu">
                    <li class="header__item">
                        <a href="#about-us" class="header__link">About us</a>
                    </li>
                    <li class="header__item">
                        <a href="#program" class="header__link">Program</a>
                    </li>
                    <li class="header__item">
                        <a href="#reviews" class="header__link">Reviews</a>
                    </li>
                    <li class="header__item">
                        <a href="" class="header__link">Contacts</a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="header__btn--menu" data-menu-button>
                <svg aria-label="menu-icon" class="mobile-menu-icon">
                    <use class="icon-menu" href="./images/sprite.svg#icon-menu">
                    </use>
                    <use class="icon-close" href="./images/sprite.svg#icon-close-1">
                    </use>
                </svg>
            </button>
        </div>

    </div>
</header>