.background-top {
  @include for-size(phone-plus-only) {
    background-image:
      url(../images/header/mobile/pic_donuts-min.png), url(../images/bg/mobille/bg@1x.png);
    background-size: 130px, contain;
    background-position:top left, top;
    background-repeat: no-repeat, no-repeat;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image:
        url(../images/header/mobile/pic_donuts@2x-min.png), url(../images/bg/mobille/bg@2x.png);
    }
  }


  @include for-size(tablet-up) {
    background-image:
      url(../images/header/tablet/pic_donuts-min.png), url(../images/bg/tablet/bg@1x.png);
    background-size: 378px, contain;
    background-position: top right 137px, top;
    background-repeat:no-repeat, repeat-x;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header/tablet/pic_donuts@2x-min.png), 
                        url(../images/bg/tablet/bg@2x.png);
    }
  }


  @include for-size(desktop-up) {
    background-image: url(../images/header/desktop/spoon-min.png),
      url(../images/header/desktop/pic_donuts-min.png), url(../images/bg/desktop/bg@1x.png);
    background-size: 178px, 693px, cover;
    background-position: top 166px left, top right, 100% 100%,top;
    background-repeat: no-repeat, no-repeat, repeat-x;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header/desktop/spoon@2x-min.png),
        url(../images/header/desktop/pic_donuts@2x-min.png), url(../images/bg/desktop/bg@2x.png);
    }
  }
}
