
.header__container {
    @include for-size(phone-plus-up) {
        width: 480px;
    }
    @include for-size(tablet-up) {
        width: 665px;
  }
    @include for-size(desktop-up) {
        width: 854px;
}
}

.general {
    @include for-size(phone-plus-only) {
        display: flex;
        justify-content: flex-end;
    }
    @include for-size(tablet-up) {
        display: flex;
        justify-content: space-between;
    }
}

.header__nav {
    @include for-size(desktop-up) {
        display: flex;
      }
}

.header__link--logo {
    display: block;
    padding-top: 7px;
    margin-bottom: 33px;
    margin-right: 67px;
    text-align: center;

    @include for-size(tablet-up) {
        padding-top: 27px;
        margin-bottom: 10px;
    }

    @include for-size(desktop-up) {
    padding-top: 31px;
    margin-right: 38px;
    margin-bottom: 51px;
    }
    &:hover,
    &:focus {
        fill: $nav-menu-link;
    }
}

.header__logo {

    @include for-size(tablet-only) {
        width: 96px;
        height: 43px;

    }
    @include for-size(desktop-up) {
        width: 158px;
        height: 71px;
    }
}

.header__list--menu {
    @include for-size(tablet-only) {
        display: none;
      }
}

.header__list {
    @include for-size(desktop-up) {
        display: flex;
        padding-top: 52px;
      }
}

.header__item {
    &:not(:last-child) {
        margin-right: 20px;
    }
    
}

.header__link {
    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    color: $primary-text-color;
    padding-top: 25px;
    padding-bottom: 25px;


    @include for-size(tablet-only) {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.20;
    }
    
    &:hover,
    &:focus {
        color: $nav-menu-link;
    }
}

// .header__images {
//     @include for-size(desktop-up) {
//         width: 793px;
//         height: 831px;
//     }
// }


